html {
    font-family: 'Ubuntu', sans-serif;
}

.nav {
    background-color:#333;
    font-size: 1.5rem;
    color:coral;
    padding: 1rem;
}

.disclaimer {
    font-size: .75rem;
}


#result {
    display: none;
}

#submit {
    width: 25%;
    margin-left: 33rem;
    margin-top: 5rem;

}

#retry {
    width:25%;
    margin-top: 3rem;
}

.progress {
    background-color: rgb(109, 109, 109);
    height: 2.25rem;
    font-size: 1.5rem;
}

a {
    color: #FCA311
}

a:hover {
    color: #fca2117c
}

.card {
    border: 2px solid #FCA311;
}

.jumbotron {
    border: 5px solid #FCA311;
    background-color: #ffffff;
}

hr {
    background-color: rgb(160, 160, 160);
    margin-top: 3rem;
}
